body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-image: url('../img/wallpaperflare.com_wallpaper.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

h1 {
    color: #841414; 
}

form {
    
    background: rgba(71, 70, 70, 0.8); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

label {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background: #841414; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #38060d; 
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #841414;
}
p{
    background: rgba(127, 126, 126, 0.8); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}